html{
    background-color: #1c99af;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
h3{
    text-align: center;
    text-transform: uppercase;
}

nav{
    background-color: #20b1ca;
  padding: 5px 5px 5px 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

nav a{
    margin-bottom: 10px;
    margin-top: 5px;
    color: #1a1818;
    text-decoration: none;
    background-color: rgb(236, 229, 229);
    padding: 4px 8px 5px 5px;
    text-align: center;
    border-radius: 5px;
}
.row{
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 35px;
    margin-bottom: 40px;
    background-color: rgb(235, 230, 230);
    padding:15px 20px;  
    border-radius: 10px;
    
    }

#third{
    background-color: #889696;    
}
/* end id selectors */
.common,#final{
    border: darkblue solid 3px;
    color:darkgoldenrod
}
.container{
    width: 60%;
    background-color: white;
    margin: auto;
    padding: 21px;
    border-radius: 5px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.div img{
    text-align: center;
}

